@import "./src/styles";

.questions-list-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 80px;
}

.questions {
  width: 100%;
}

.questions-list {
  background-color: #ffffff;
  padding: 6px;
}

.questions-title {
  margin-bottom: 20px;
}

.button {
  @include questionButton;
}
